@charset "UTF-8";



#board {
	
	width: 1920px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
	text-align: center;
}



#wtitle {
	
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	
}


#sub_title {
	
	text-align: center;
	font-size: 1em;
	color: #808080;
	letter-spacing: -1px;
	margin-top: 5px;
	
}

#board_box {
	
	width: 70%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;

}


#form_box {
	
	width: 65%;
	margin: 40px auto;
	
}


#form_box table {
	
	width: 100%;
	overflow: hidden;
}


#form_box th {
	
	padding: 20px 0;
	text-align: center;
}


.float {
	
	float: left;
	margin-bottom: 20px;
}

.title {
	
	font-size: 1.1em;
	font-weight: 700;
	margin-right: 10px;
	line-height: 50px;
}

#title {
	
	display: block;
	width: 658px;
	height: 50px;
	margin-right: 15px;
}


#q_title {
	
	display: block;
	width: 520px;
	height: 50px;
	margin-right: 15px;
}


.writer {
	
	font-size: 1.1em;
	font-weight: 700;
	margin-right: 10px;
	line-height: 50px;
}


#writer {
	
	display: block;
	width: 200px;
	height: 50px;
}


#q_writer {
	
	display: block;
	width: 193px;
	height: 50px;
	margin-right: 15px;
}



#contents_box {
	
	clear: both;
	
}


.contents {
	
	font-size: 1.1em;
	font-weight: 700;
	line-height: 50px;
}



.category {
	
	font-size: 1.1em;
	font-weight: 700;
	margin-right: 10px;
	line-height: 50px;
}


#select {
	
	display: block;
	width: 130px;
	height: 50px;
}


#write_btn {
	
	text-align: center;
	margin: 20px 0;
}



#write {
	
	padding: 1.5% 4%;
	border: none;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

#q_write {
	
	padding: 1.5% 4%;
	border: none;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}


.note-editable {

height: 300px;

}


#fix_box img{
	
	vertical-align: initial;
	margin-right: 5px;
}


#fix_box {
	
	position: relative;
	
}


#fix {
	
	width: 17px;
	height: 50px;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 2px;
}



#fix_info {
	
	position: absolute;
	top: -43px;
	left: -86px;
}



.note-editor.note-frame .note-editing-area .note-editable {
	
	color: #808080;
	font-size: 0.9em;
}


.title, .writer, .contents, #info_box {
	
	text-align: left;
}


#box {
	
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 1.2%;
}

#info_box {
	
	margin-top: 30px;
	margin-bottom: 10px;
}

#info_box span {
	
	font-size: 0.9em;
	letter-spacing: -1px;
	color: #808080;
}

#info_box img {
	
	vertical-align: middle;
}







