@charset "UTF-8";



#board {
	
	width: 1920px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}

#wtitle {
	
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	
}


#sub_title {
	
	text-align: center;
	font-size: 1em;
	color: #808080;
	letter-spacing: -1px;
	margin-top: 5px;
	
}

#board_box {
	
	width: 60%;
	min-height: 450px;
	overflow: hidden;
	position: relative;
	margin: 80px auto;

}



#board_nav, #boardSelect {
	
	float: left;
	overflow: hidden;
}


#board_nav {
	
	width: 15%;
	margin-right: 5%;
}


#board_nav li {
	
	padding: 5%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
	
}


#board_nav li a {
	
	display: block;
	padding: 5px 0;
	color: #808080;
	font-weight: 700;
	
}

#board_nav li a:hover {
	
	color: #6bb5db;
}


#board_nav li:first-child {
	
	padding: 30px 0;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	border-bottom: none;
}


#boardSelect {
	
	width: 80%;
	text-align: center;
}

.title {
	
	text-align: left;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.1em;
	font-weight: 700;
	letter-spacing: -1px;
	border-top: 3px solid #153F91;
	border-bottom: 1px solid #eee;
}


#sub {
	
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}


#sub li {
	
	float: left;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#sub li:nth-child(1),
#sub li:nth-child(4) {
	
	font-size: 0.9em;
	font-weight: 500;
	color: #373737;	
}


#sub li:nth-child(3) {
	
	opacity: 0.5;
	line-height: 20px;
}



#sub li:nth-child(2), #sub li:nth-child(5) {
	
	font-size: 0.9em;
	color: #808080;	
}


/* qna li */

#qsub {
	
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}


#qsub li {
	
	float: left;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}


#qsub li:nth-child(1),
#qsub li:nth-child(4) {
	
	font-size: 0.9em;
	font-weight: 500;
	color: #373737;	
}


#qsub li:nth-child(3) {
	
	opacity: 0.5;
	line-height: 20px;
}



#qsub li:nth-child(2), #qsub li:nth-child(5) {
	
	font-size: 0.9em;
	color: #808080;	
}

/* -- */

#contents {
	
	overflow: hidden;
	padding: 40px 10px;
	border-bottom: 1px solid #153F91;
	text-align: left;
}




#btn_box {
	
	width: 100%;
	overflow: hidden;
	margin: 30px 0;
}



#list {
	
	padding: 1% 2.2%;
	border: none;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	float: left;
}


#reply {
	
	padding: 1% 2.2%;
	border: none;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	float: right;
	margin-right: 5px;
	
}



#update {
	
	padding: 1% 2.2%;
	border: none;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	float: right;
	margin-right: 5px;
}


#delete {
	
	padding: 1% 2.2%;
	border: none;
	border-radius: 5px;
	background-color: #c60000;
	color: white;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	float: right;
}

#q_delete {
	
	padding: 1% 2.2%;
	border: none;
	border-radius: 5px;
	background-color: #c60000;
	color: white;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	float: right;
	font-size: 1em;
	cursor: pointer;
	
}







/* 댓글 / 건들지 마시오 */

#comment_box {
	
	width: 100%;
	overflow: hidden;
	text-align: left;
	
}


#comment {
	
	width: 100%;
	overflow: hidden;
	letter-spacing: -1px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;

}

#c_top {
	
	width: 100%;
	margin: 20px 0;
	overflow: hidden;
}


#c_count_title {
	
	font-size: 1em;
	color: #808080;
}


#c_count {
	
	font-size: 1.2em;
	color: #153F91;
	font-weight: 700;
	margin-left: 5px;
}


#c_write_box {
	
	width: 87%;
	background-color: white;
	border: 1px solid #ddd;
	float: left;
	margin-right: 3%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 15px 20px;
}


#c_write_box2 {
	
	width: 100%;
	background-color: #eee;
	border: 1px solid #ddd;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	padding: 15px 20px;
	
}

#c_btn {
	
	float: left;
	width: 10%;
	overflow: hidden;
	box-sizing: border-box;
}



#comment_btn {
	
	width: 100%;
	border: none;
	padding: 15% 4%;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-size: 0.9em;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	
}


#c_writer {
	
	color: #2f2f2f;
	font-weight: 500;
}

#c_write_box textarea {
	
	background-color: rgba(255,255,255,.001);
	width: 100%;
	border: none;
	margin-top: 10px;
	color: #808080;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	padding: 6px 0 0;
	padding-right: 16px;
	line-height: 18px;
	vertical-align: top;
	resize: none;
	box-sizing: border-box;
	margin-bottom: 20px;
}


#c_write_box textarea::placeholder {
	
	color: #bcbcbc;
}



#c_write_box2 textarea {
	
	background-color: rgba(255,255,255,.001);
	width: 100%;
	border: none;
	margin-top: 10px;
	color: #808080;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	padding: 6px 0 0;
	padding-right: 16px;
	line-height: 18px;
	vertical-align: top;
	resize: none;
	box-sizing: border-box;
	margin-bottom: 20px;
}

#c_write_box2 textarea::placeholder {
	
	color: #bcbcbc;
}



#counter {
	
	display: block;
	text-align: right;
	font-size: 0.8em;
	color: #a0a0a0;
}



#more_box {
	
	width: 100%;
	text-align: center;
}


#more {
	
	margin: 15px 0;
	border: none;
	border-radius: 10px;
	padding: 1.3% 4%;
	background-color: #153F91;
	color: white;
	letter-spacing: -1px;
	font-size: 1em;
	font-weight: 500;
	
}

#updateContents {
	
	resize: vertical;
}


#updateBtn {
	
	padding: 1.5% 2.2%;
	border: none;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-weight: 500;
	box-sizing: border-box;
	text-align: center;
	margin-right: 5px;
	font-size: 0.9em;
	
}


#cancleBtn {
	
	padding: 1.5% 2.2%;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	background-color: white;
	color: #808080;
	font-weight: 500;
	box-sizing: border-box;
	text-align: center;
	margin-right: 5px;
	font-size: 0.9em;
	
	
}


.c_re {
	
	border-top: 1px solid #ddd;
}

/* 댓글 리스트 */


.c_list_box {
	
	width: 100%;
	overflow: hidden;
	padding: 15px 0;
	letter-spacing: -1px;
	border-bottom: 1px solid #ddd;
}


.c_list_top {
	
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
}



.best_icon {
	
	margin-right: 10px;
}


.c_list_writer {
	
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 3px;
	font-size: 0.95em;
	float: left;
}


.c_list_ud {
	
	float: right;
}


.c_list_ud li {
	
	float: left;
	font-size: 0.9em;
}

.c_list_ud li:nth-child(2) {
	
	color: #ddd;
	line-height: 24px;
	margin: 0 5px;
}


.c_list_ud li a {
	
	color: #b0b0b0;
	font-size: 0.9em;
}


.c_contents {
	
	color: #505050;
	font-size: 0.95em;
	margin-bottom: 5px;
	clear: both;
}


.c_list_box_bottom {
	
	
	margin-top: 20px;
	position: relative;
	overflow: hidden;
	width: 100%;
	
}

.c_list_bottom {
	
	overflow: hidden;
	width: 50%;
	float: left;
}


.c_like_bottom {
	
	float: left;
	width: 40%;
}


.c_list_bottom li {
	
	float: left;
	font-size: 0.8em;
	line-height: 35px;
}


.c_list_bottom li:nth-child(2),
.c_list_bottom li:nth-child(4) {
	
	color: #ddd;
	line-height: 33px;
	margin: 0 10px;
	
}


.c_date {
	
	letter-spacing: 0;
}


.c_date, .c_report, .c_reply {
	
	color: #b0b0b0;
	font-size: 0.9em;
}


.c_reply a {
	
	color: #b0b0b0;
}



.c_report a {
	
	color: #b0b0b0;
}



.c_like_bottom {
	
	float: right;
	width: 40%;
	text-align: right;
}


.c_like_bottom img {
	
	width: 15px;
	vertical-align: middle;
	margin-right: 5px;
}


.c_like_bottom a {
	
	display: inline-block;
	border: 1px solid #ddd;
	padding: 6px 10px;
	letter-spacing: 0;
	color: #949494;
	font-size: 0.7em;
	margin-left: 5px;
}
