@charset "UTF-8";



#board {
	
	width: 1920px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}

#title {
	
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	
}


#sub_title {
	
	text-align: center;
	font-size: 1em;
	color: #808080;
	letter-spacing: -1px;
	margin-top: 5px;
	
}

#board_box {
	
	width: 60%;
	overflow: hidden;
	position: relative;
	margin: 80px auto;

}



#board_nav, #boardList {
	
	float: left;
	overflow: hidden;
}


#board_nav {
	
	width: 15%;
	margin-right: 5%;
}


#board_nav li {
	
	padding: 5%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
	
}


#board_nav li a {
	
	display: block;
	padding: 5px 0;
	color: #808080;
	font-weight: 700;
	
}

#board_nav li a:hover {
	
	color: #6bb5db;
}


#board_nav li:first-child {
	
	padding: 30px 0;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	border-bottom: none;
}


#boardList {
	
	width: 80%;
	overflow: hidden;
	text-align: center;
}


#introduce_box {
	
	width: 100%;
	overflow: hidden;
	letter-spacing: -1px;
}

#introduce_box img {
	
	margin-bottom: 30px;
}


#introduce_box p {
	
	line-height: 35px;
}




#top_title {
	
	font-size: 1.1em;
	color: #153F91;
	font-weight: 700;
}




#sub_introduce {
	
	width: 100%;
	overflow: hidden;
	margin: 40px auto;
}


#sub_introduce table {
	
	width: 100%;
	overflow: hidden;
	border-top: 2px solid #153F91;
	letter-spacing: -1px;
	border-collapse: collapse;
}


#sub_introduce th {
	
	width: 200px;
	border-bottom: 1px solid #ddd;
}


#sub_introduce td {
	
	text-align: left;
	border-bottom: 1px solid #ddd;
	padding-bottom: 40px;
}


#sub_introduce td h4 {
	
	padding: 30px 0;
}


#sub_introduce td p {
	
	color: #808080;
	font-size: 0.9em;
}