@charset "UTF-8";



#board {
	
	width: 1920px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}

#board_title p {
	
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	
}

#board_box {
	
	width: 70%;
	overflow: hidden;
	position: relative;
	margin: 80px auto;

}



#info_box {
	
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
	
}



#myInfo {
	
	width: 100%;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
}

#myInfo_list {
	
	width: 45%;
	padding: 2%;
	float: left;
	overflow: hidden;
	margin-right: 3%;
	border-top: 4px solid #153F91; 
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	
	
}


#myInfo_list table {
	
	width: 80%;
	overflow: hidden;
	font-size: 1em;
	margin: 0 auto;
}


#myInfo_list table th {
	
	padding: 25px 0;
	width: 150px;
	text-align: left;
	color: #808080;
}

#myInfo_list table th, #myInfo_list table td {
	
	border-bottom: 1px solid #ddd;
}


#myInfo_list table td {
	
	text-align: left;
	padding-left:5%;
	width: 250px;
}


#myInfo_list h3 {
	
	font-size: 1.3em;
	letter-spacing: -1px;
	color: #153F91; 
	margin-bottom: 20px;
	font-weight: 900;
}


#info_btn {
	
	text-align: center;
}


#info_btn a {
	
	display: inline-block;
	padding: 10px 15px;
	font-size: 1em;
	letter-spacing: -1px;
	margin-top: 30px;
	margin-bottom: 20px;

}

#memberUpdate {
	
	border: none;
	border-radius: 5px;
	background-color: #153F91; 
	color: white;
}


#memberDelete {
	
	border: none;
	border-radius: 5px;
	background-color: #b70000; 
	color: white;
	
}


.common_div h3{
	
	font-size: 1.3em;
	letter-spacing: -1px;
	color: #153F91; 
	margin-bottom: 20px;
	font-weight: 900;
	
}



.common_div {
	
	width: 24.5%;
	height: 230px;
	overflow: hidden;
	margin-bottom: 3%;
	float: left;
	border-top: 4px solid #153F91; 
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	text-align: left;
	padding: 2%;
}


.common_div p {
	
	color: #808080;
	margin-bottom: 40px;
	letter-spacing: -1px;
}


.info_btn_2 {
	
	border: 1px solid #153F91; 
	margin: 20px 0;
}

.info_btn_2 a {
	
	display: block;
	padding: 3%;
	color: #153F91; 
	letter-spacing: -1px;
	font-weight: 700;
	text-align: center;
}


#reserve_info, #donation_info {
	
	margin-right: 3%;
}


#main_info {
	
	width: 52%;
	height: 209px;
	overflow: hidden;
	margin-bottom: 3%;
	float: left;
	border-top: 4px solid #153F91; 
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	
}


#main_info h3 {
	
	font-size: 1.3em;
	letter-spacing: -1px;
	color: #153F91; 
	margin: 20px 0;
	font-weight: 900;
	
}



