@charset "UTF-8";


#header {
	
	box-shadow: none;
}


#board {
	
	width: 1920px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}

#board_title p {
	
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	
}


#login_box {
	
	width: 100%;
	overflow: hidden;
	background-color: #e3f2f9;

}


#log {
	
	width: 30%;
	border-top: 2px solid #153f91;
	border-bottom: 1px solid #153f91;
	overflow: hidden;
	margin: 80px auto;
	background-color: white;
}


#log_title {
	
	width: 100%;
	margin: 30px auto;
	text-align: center;
}


#log_title img {
	
	width: 70px;
	
}


#main_title {
	
	margin: 15px;
	font-size: 1.3em;
	font-weight: 700;
	letter-spacing: -1px;
	
}


#sub_title {
	
	font-size: 1em;
	letter-spacing: -1px;
	color: #808080;
}


#login_form {
	
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}


#login_form input {
	
	display: block;
}


#id, #pw {
	
	width: 300px;
	height: 35px;
	margin: 0 auto;
	padding: 1%;
	overflow: hidden;
	margin-bottom: 15px;
	border: 1px solid #c0c0c0;
}

#id::placeholder, #pw::placeholder {
	
	color: #c0c0c0;
	font-size: 1.1em;
	letter-spacing: -1x;
}


#remember_box {
	
	width: 313px;
	text-align: center;
	margin: 10px auto;
}


#remember_box label {
	
	cursor: pointer;
	color: #808080;
	letter-spacing: -1px;
	padding-left: 5px;
	font-size: 0.9em;
}



#login {
	
	background-color: #153f91;
	border: none;
	border-radius: 5px;
	width: 316px;
	height: 53px;
	cursor: pointer;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	margin: 10px 0;
}


#login_form ul {
	
	overflow: hidden;
	width: 39%;
	margin: 15px auto;
	margin-bottom: 35px;
	text-align: center;
}



#login_form li {
	
	float: left;
	text-align: center;
	color: #808080;
}


#login_form a {
	
	display: block;
	font-size: 1em;
	letter-spacing: -1px;
	color: #808080;
}

.g-recaptcha {
	
	width: 53%;
	margin: 10px auto;
	text-align: center;
}