@charset "UTF-8";



#board {
	
	width: 1920px;
	min-height: 750px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}

#board_title p {
	
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	
}

#board_box {
	
	width: 60%;
	overflow: hidden;
	position: relative;
	margin: 80px auto;

}



#board_nav {
	
	float: left;
	overflow: hidden;
	width: 15%;
	margin-right: 5%;
}


#board_nav li {
	
	padding: 5%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
	
}


#board_nav li a {
	
	display: block;
	padding: 5px 0;
	color: #808080;
	font-weight: 700;
	
}

#board_nav li a:hover {
	
	color: #6bb5db;
}


#board_nav li:first-child {
	
	padding: 30px 0;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	border-bottom: none;
}


#info_box {
	
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
	
}


#info_list {
	
	width: 100%;
	overflow: hidden;
}


#info_list p {
	
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: -1px;
	
}

#info_list p span {
	
	font-size: 1.2em;
	color: #153F91;
	font-weight: 900;
	padding-left: 10px;
}


#info_list table {
	
	width: 100%;
	overflow: hidden;
	border-collapse: collapse;
	text-align: center;
	margin-top: 30px;
}


#info_list table thead th {
	
	border-top: 2px solid #153F91;
	border-bottom: 2px solid #153F91;
	padding: 25px 0;
	font-size: 0.9em;
	
}

#info_list table td {
	
	padding: 25px 0;
	font-size: 0.9em;
	border-bottom: 1px solid #ddd;
}


#info_list table tbody {
	
	border-bottom: 1px solid #153F91;
}

#info_list table tbody .q_td {
	
	font-size: 0.9em;
	color: #808080;
	letter-spacing: -1px;
}


#info_list table tbody .q_title a{
	
	font-weight: 700;
	color: #153F91;
	font-size: 1.1em;
}


#info_list .cancel {
	
	background-color: #bd0000;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10% 9%;
	cursor: pointer;
}



#paging {
	
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	padding: 5%;
}


#paging ul {
	
	display:inline-block; 
	*display:inline; 
	zoom:1;
}


#paging ul li {
	
	float: left;
	text-align: center;
	margin-left:-1px; 
	z-index:1;
	box-sizing: border-box;
	margin-right: 5px;
	
}


#paging ul li:last-child {
	
	margin-right: 0;
}


#paging ul li a {
	
	display: inline-block;
	padding: 5%;
	min-width: 40px;
	max-width: 40px;
	line-height: 35px;
	color: #a8a8a8;
	border: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
	font-weight: 700;
	
}


#paging ul li a:hover {
	
	background-color: #153F91;
	color: white;
	font-weight: 700;
	border: 1px solid #153F91;
}



#prev {
	
	font-size: 0.8em;
	margin-right: 10px;
}


#next {
	
	font-size: 0.8em;
	margin-left: 10px;
}