@charset "UTF-8";



#board {
	
	width: 1920px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}

#title {
	
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	
}


#sub_title {
	
	text-align: center;
	font-size: 1em;
	color: #808080;
	letter-spacing: -1px;
	margin-top: 5px;
	
}

#board_box {
	
	width: 60%;
	overflow: hidden;
	position: relative;
	margin: 80px auto;

}



#board_nav, #boardSelect {
	
	float: left;
	overflow: hidden;
}


#board_nav {
	
	width: 15%;
	margin-right: 5%;
}


#board_nav li {
	
	padding: 5%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
	
}


#board_nav li a {
	
	display: block;
	padding: 5px 0;
	color: #808080;
	font-weight: 700;
	
}

#board_nav li a:hover {
	
	color: #6bb5db;
}


#board_nav li:first-child {
	
	padding: 30px 0;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	border-bottom: none;
}


#boardSelect {
	
	width: 80%;
	text-align: center;
}

.title {
	
	text-align: left;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.1em;
	font-weight: 700;
	letter-spacing: -1px;
	border-top: 3px solid #153F91;
	border-bottom: 1px solid #eee;
}


#sub {
	
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}


#sub li {
	
	float: left;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}


#contents {
	
	overflow: hidden;
	padding-bottom: 40px;
	border-bottom: 1px solid #153F91;
	clear: both;
	text-align: left;
}


#file{
	
	text-align: right;
	overflow: hidden;
	float: right;
	display: block;
	margin: 20px 0;
	font-size: 0.9em;
	
}


#file table th {
	
	vertical-align: text-top;
}


#file table th img {
	
	width: 13px;
	margin-right: 5px;
	vertical-align: unset;;
}



#file table td {
	
	padding-left: 20px;
	display: block;
	text-align: left;
	padding-bottom: 5px;
	
}


#file table a:hover {
	
	text-decoration: underline;
}


#btn_box {
	
	width: 100%;
	overflow: hidden;
	margin: 30px 0;
}



#list {
	
	padding: 1% 2.2%;
	border: none;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	float: left;
}



#update {
	
	padding: 1% 2.2%;
	border: none;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	float: right;
	margin-right: 5px;
}


#delete {
	
	padding: 1% 2.2%;
	border: none;
	border-radius: 5px;
	background-color: #c60000;
	color: white;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	float: right;
}

 

/* 댓글 */

#comment_box {
	
	width: 100%;
	overflow: hidden;
	text-align: left;
	
}


#comment {
	
	width: 100%;
	overflow: hidden;
	letter-spacing: -1px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;

}

#c_top {
	
	width: 100%;
	margin: 15px 0;
	overflow: hidden;
}


#c_count_title {
	
	font-size: 1em;
	color: #808080;
}


#c_count {
	
	font-size: 1.2em;
	color: #153F91;
	font-weight: 700;
	margin-left: 5px;
}


#c_write_box {
	
	width: 85%;
	background-color: white;
	border: 1px solid #ddd;
	float: left;
	margin-right: 3%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 15px 20px;
}

#c_btn {
	
	float: left;
	width: 12%;
	overflow: hidden;
	box-sizing: border-box;
}



#comment_btn {
	
	width: 100%;
	border: none;
	padding: 15% 4%;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-size: 1em;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	
}


#c_writer {
	
	color: #2f2f2f;
	font-weight: 500;
}

#c_write_box textarea {
	
	background-color: rgba(255,255,255,.001);
	width: 100%;
	border: none;
	margin-top: 10px;
	color: #808080;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	padding: 6px 0 0;
	padding-right: 16px;
	line-height: 18px;
	-webkit-appearance: none;
	vertical-align: top;
	resize: none;
	box-sizing: border-box;
}


#c_write_box textarea::placeholder {
	
	color: #bcbcbc;
}

