@charset "UTF-8";



#board {
	
	width: 1920px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}



#title {
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
}

#sub_title {
	text-align: center;
	font-size: 1em;
	color: #808080;
	letter-spacing: -1px;
	margin-top: 5px;
}

#board_box {
	
	width: 60%;
	overflow: hidden;
	position: relative;
	margin: 80px auto;

}



#board_nav, #boardList {
	
	float: left;
	overflow: hidden;
}


#board_nav {
	
	width: 15%;
	margin-right: 5%;
}


#board_nav li {
	
	padding: 5%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
	
}


#board_nav li a {
	
	display: block;
	padding: 5px 0;
	color: #808080;
	font-weight: 700;
	
}

#board_nav li a:hover {
	
	color: #6bb5db;
}


#board_nav li:first-child {
	
	padding: 30px 0;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	border-bottom: none;
}


#boardList {
	
	width: 80%;
	overflow: hidden;
}


.info_box {
	
	width: 100%;
	margin-bottom: 40px;
	overflow: hidden;
	margin-bottom: 40px;
	letter-spacing: -1px;
}


.info_box h2 {
	
	color: #153F91;
	padding-bottom: 10px;
}



.info_box h2:before {
	
	content: "";
	display: block;
	width: 20px;
	height: 3px;
	margin-bottom: 9px;
	background-color: #153F91;
	
}


#info_list {
	
	width: 100%;
	overflow: hidden;
}


#info_list table {
	
	width: 100%;
	overflow: hidden;
	border-collapse: collapse;
	letter-spacing: -1px;
	margin-top: 30px;
}


#info_list table tr {
	
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
	display: block;
}


#info_list table td {
	
	padding-left: 50px;
}


.info_img {
	
	width: 180px;
	overflow: hidden;
	box-sizing: border-box;
}

.info_img img {
	
	width: 100%;
	box-sizing: border-box;
	vertical-align: middle;
}


#info_list h2 {
	
	color: #153F91;
}


#info_list h3 {
	
	color: #808080;
	margin: 5px 0 10px 0;
}


#info_list p {
	
	color: #9d9d9d;
}
