@charset "UTF-8";



#board {
	
	width: 1920px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}

#title {
	
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	
}


#sub_title {
	
	text-align: center;
	font-size: 1em;
	color: #808080;
	letter-spacing: -1px;
	margin-top: 5px;
	
}

#board_box {
	
	width: 60%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-bottom: 80px;

}


#write_btn {
	
	width: 60%;
	text-align: right;
	overflow: hidden;
	margin: 10px auto;
	padding: 2%;
}



#write {
	
	padding: 1% 2.2%;
	border: none;
	border-radius: 5px;
	background-color: #153F91;
	color: white;
	font-weight: 700;
	box-sizing: border-box;
	text-align: center;
}


#board_nav, #boardList {
	
	float: left;
	overflow: hidden;
}


#board_nav {
	
	width: 15%;
	margin-right: 5%;
}


#board_nav li {
	
	padding: 5%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
	
}


#board_nav li a {
	
	display: block;
	padding: 5px 0;
	color: #808080;
	font-weight: 700;
	
}

#board_nav li a:hover {
	
	color: #6bb5db;
}


#board_nav li:first-child {
	
	padding: 30px 0;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	border-bottom: none;
}


#boardList {
	
	width: 80%;
	text-align: center;
}



#boardList table{
	
	width: 100%;
	border-top: 3px solid #153F91;
	border-bottom: 1px solid #153F91;
	overflow: hidden;
	box-sizing: border-box;
	border-collapse: collapse;
}

.position_2 a {
	
	color: black;
}

#boardList table a:hover {
	
	color: #153F91;
}

.position {
	
	background-color: #f1f1f1;
	height: 60px;
}


.title {
	
	font-weight: 700;
}

.title a {
	
	color: #153F91;
}

.position td {
	
	border-top: 1px solid #ddd;
	font-weight: 500;
}


.position:hover {
	
	background-color: #f9f9f9;
}

.position img {
	
	width: 25px;
	vertical-align: middle;
}


#boardList th {
	
	padding: 15px 0;
	
}

.position_2 td {
	
	padding: 15px 0;
	border-top: 1px solid #ddd;
}

#boardList tr:last-child {
	
	border-bottom: none;
}


.date, .hit, .num {
	
	font-size: 0.9em;
	color: #808080;
}



#paging {
	
	margin: 0px auto;
	overflow: hidden;
	text-align: center;
	padding: 5%;
	
	
}


#paging ul {
	
	display:inline-block; 
	*display:inline; 
	zoom:1;
}


#paging li {
	
	float: left;
	text-align: center;
	margin-left:-1px; 
	z-index:1;
	box-sizing: border-box;
	margin-right: 5px;
}


#paging li:last-child {
	
	margin-right: 0;
}


#paging li a {
	
	display: inline-block;
	padding: 5%;
	min-width: 40px;
	max-width: 40px;
	line-height: 35px;
	color: #a8a8a8;
	border: 1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
	font-weight: 700;
	
}

#paging ul li a:hover {
	
	background-color: #153F91;
	color: white;
	font-weight: 700;
	border: 1px solid #153F91;
}



#prev {
	
	font-size: 0.8em;
	margin-right: 10px;
}


#next {
	
	font-size: 0.8em;
	margin-left: 10px;
}



#search_box {
	
	margin: 0 auto;
}


#select {
	
	padding: 7px 10px;
	font-size: 1em;
	letter-spacing: -1px;
	margin-right: 5px;
	vertical-align: middle;
	
}


#search {
	
	width: 250px;
	padding: 9px 10px;
	margin-right: 5px;
}


#btn {
	
	padding: 12px 25px;
	background-color: #153F91;
	border-radius: 5px;
	border: none;
	color: white;
	cursor: pointer;
}