@charset "UTF-8";

#board {
	width: 1920px;
	overflow: hidden;
}

#board_title {
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}

#title {
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
}

#sub_title {
	text-align: center;
	font-size: 1em;
	color: #808080;
	letter-spacing: -1px;
	margin-top: 5px;
}

#board_box {
	width: 60%;
	overflow: hidden;
	position: relative;
	margin: 80px auto;
}

#board_nav, #doctorList {
	float: left;
	overflow: hidden;
}

#board_nav {
	width: 15%;
	margin-right: 5%;
}

#board_nav li {
	padding: 5%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
}

#board_nav li a {
	display: block;
	padding: 5px 0;
	color: #808080;
	font-weight: 700;
}

#board_nav li a:hover {
	color: #6bb5db;
}

#board_nav li:first-child {
	padding: 30px 0;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	border-bottom: none;
}

#doctorList {
	width: 80%;
	text-align: center;
}

#office_select {
	width: 100%;
	overflow: hidden;
	text-align: left;
	margin-bottom: 40px;
}

#office_select h3 {
	font-weight: 700;
	font-size: 1.3em;
	letter-spacing: -1px;
	margin-bottom: 30px;
}

#office_select li {
	float: left;
	width: 20%;
	overflow: hidden;
	text-align: center;
	letter-spacing: -1px;
	font-weight: 700;
}

#office_select li a {
	color: #808080;
}

#office_select li a {
	color: #808080;
	width: 100%;
	overflow: hidden;
	padding: 15px 20px;
	display: inline-block;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
}

#last_li {
	border-right: 1px solid #ddd;
}

#office_select li a:hover {
	background-color: #153F91;
	color: white;
	border-left: 1px solid #153F91;
	border-top: 1px solid #153F91;
	border-bottom: 1px solid #153F91;
}

#doctor_list {
	width: 60%;
	overflow: hidden;
	text-align: left;
	margin: 40px auto;
	float: left;
	margin-right: 5%;
}


#doctor_list h3 {
	font-weight: 700;
	font-size: 1.3em;
	letter-spacing: -1px;
	margin-bottom: 15px;
}

#doctor_select {
	width: 100%;
	overflow: hidden;
	border-top: 2px solid #153F91;
}













/* 의사 리스트 */
.list {
	width: 100%;
	border-bottom: 1px solid #c1c1c1;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

.list_profile {
	max-width: 100px;
	overflow: hidden;
	box-sizing: border-box;
}

.list_profile img {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #ddd;
}

.list_profile, .list_info {
	float: left;
}

.list_info {
	width: 280px;
	margin: 0 20px;
}

.name {
	font-size: 1.3em;
	letter-spacing: -1px;
	font-weight: 700;
	margin-bottom: 15px;
}

.med_office, .pro_field {
	letter-spacing: -1px;
	font-size: 0.9em;
	font-weight: 700;
	margin-right: 10px;
	display: inline-block;
	width: 60px;
	vertical-align: top;
	margin-bottom: 5px;
}

.list_info span {
	font-weight: 500;
	text-align: left;
	letter-spacing: -1px;
	font-size: 0.9em;
	color: #808080;
	display: inline-block;
	width: 210px;
}

.list_btn {
	float: right;
}

.select_btn {
	display: block;
	padding: 8px 40px;
	border: 1px solid #ddd;
	letter-spacing: -1px;
	color: #808080;
	text-align: center;
	font-weight: 700;
	margin-bottom: 10px;
	border: 1px solid #153F91;
	color: #153F91;
	background-color: white;
	cursor: pointer;
	font-size: 0.9em;
}

.select_btn:hover {
	background-color: #153F91;
	border: 1px solid #153F91;
	color: white;
}

.select_btn:active {
	background-color: #153F91;
	border: 1px solid #153F91;
	color: white;
}

.info_btn {
	display: block;
	padding: 8px 20.5px;
	border: 1px solid #ddd;
	letter-spacing: -1px;
	color: #808080;
	text-align: center;
	font-weight: 700;
	margin-bottom: 10px;
	border: 1px solid #808080;
	color: #808080;
	background-color: white;
	cursor: pointer;
	font-size: 0.9em;
}

.info_btn:hover {
	background-color: #808080;
	border: 1px solid #808080;
	color: white;
}

.info_btn:active {
	background-color: #808080;
	border: 1px solid #808080;
	color: white;
}






#all_select_box {
	
	width: 35%;
	float: right;
	overflow: hidden;
}



/* 환자 정보 */
#user_info {
	width: 100%;
	overflow: hidden;
	text-align: left;
	margin: 40px auto;
}

#user_info h3 {
	font-weight: 700;
	font-size: 1.3em;
	letter-spacing: -1px;
	margin-bottom: 15px;
}

#user_info_box {
	width: 100%;
	overflow: hidden;
	height: 210px;
	background-color: #153F91;
	color: white;
	padding: 25px 20px;
	box-sizing: border-box;
}

#user_info_box p {
	display: inline-block;
	margin-bottom: 10px;
}

#user_info_box span {
	color: #a5d1e9;
	margin-left: 10px;
	font-weight: 700;
}














/* 날짜 캘린더 */
#reserve_cal {
	width: 100%;
	overflow: hidden;
	text-align: left;
	margin: 10px auto;
}

#reserve_cal h3 {
	font-weight: 700;
	font-size: 1.3em;
	letter-spacing: -1px;
	border-bottom: 2px solid #153F91;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#cal_box {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}


#cal_box table {
	
	width: 100%;
	text-align: center;
}


#cal_box table thead {
	
	display: inherit;
	margin: 0 auto;
	margin-bottom: 10px;
}

#cal_box table tbody {
	
	display: inherit;
	font-weight: 500;
}


#cal_box table tbody td {
	
	padding: 5px 10px;
}

#cal_box label img {
	
	vertical-align: middle;
}

.tr td {
	
	width: 50px;
	line-height: 35px;
	text-align: center;
	border-radius: 8px; /*모서리 둥글게*/
}


#tbCalendarYM {
	
	padding: 0 40px;
	font-weight: 700;
	color: #153F91;
}



/* 날짜 캘린더 */
#select_time {
	width: 100%;
	overflow: hidden;
	text-align: left;
	margin-top: -14px;
}

#time_box {
	width: 100%;
	height: 120px;
	box-sizing: border-box;
	overflow: hidden;
	padding: 20px;
	border-bottom: 1px solid #ddd;
}

#time_box button {
	
	padding: 7px 5px;
	background-color: white;
	color: black;
	border: 1px solid #ddd;
	width: 60px;
	margin-bottom: 10px;
	margin-right: 10px;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
	
}


#time_box button:hover {
	
	background-color: #153F91;
	border: 1px solid #153F91;
	color: white;
}


#time_box button:active {
	
	background-color: #153F91;
	border: 1px solid #153F91;
	color: white;
}


#time_box button:nth-child(4n) {
	
	margin-right: 0;
}


button{
	background: inherit;
	border:inherit;
}



/* 예약완료 버튼 */


#reserve_ok {
	
	background-color: #153F91;
	color: white;
	border: none;
	width: 100%;
	height: 65px;
	margin: 23px 0;
	padding: 2%;
	font-size: 1.3em;
	font-weight: 700;
	cursor: pointer;
}




/* 모달창 */

.modal_profile {
	
	width: 250px;
	border: 1px solid #ddd;
	overflow: hidden;
	float: left;
	margin-bottom: 40px;
}

.modal_profile img {
	
	width: 100%;
	box-sizing: border-box;
}


.modal-body hr {
	
	margin: 40px 0;
	border: 1px solid #153F91;
	display: block;
	clear: both;
}

.modal_title_box {
	
	width: 50%;
	float: left;
}


.modal_med_office_title {
	
	color: #808080;
	font-size: 1.3em;
	letter-spacing: -1px;
	
}


.modal_med_office {
	
	font-size: 2em;
	letter-spacing: -2px;
	margin-bottom: 25px;
}


.modal_info {
	
	float: right;
	width: 31%;
}

#btn_box {
	
	width: 100%;
	text-align: center;
	width: 18%;
	margin: 25px auto 40px;
	overflow: hidden;
	
}

#reserve_btn {
	
	display: block;
	padding: 15px 50px;
	background-color: #153F91;
	color: white;
	font-weight: 700;
	float: right;
	font-size: 1.2em;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}


.modal_pro_field_title {
	
	color: #000000;
	font-size: 1.2em;
	letter-spacing: -1px;
	font-weight: 900;
	
	
}

.modal_pro_field {
	
	letter-spacing: -1px;
	font-size: 1em;
	color: #808080;
	
}




.modal_career {
	
	overflow: hidden;
	margin: 40px 0;
	padding-left: 20px;
	
}

.career h3, .major_act h3 {
	
	color: black;
	font-weight: 900;
	margin-bottom: 10px;
}



.career {
	
	padding-left: 20px;
	float: left;
	letter-spacing: -1px;
	color: #808080;
	width: 46%;
}


.career:before, .major_act:before {
	
	content: '';
	display: block;
	width: 20px;
	height: 2px;
	margin-bottom: 9px;
	background-color: #153F91;
}


.major_act {
	
	margin-left: 80px;
	float: left;
	letter-spacing: -1px;
	color: #808080;
	width: 42%;
}

