@charset "UTF-8";



#board {
	
	width: 1920px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}

#board_title p {
	
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	
}

#board_box {
	
	width: 60%;
	overflow: hidden;
	position: relative;
	margin: 80px auto;

}



#board_nav, #boardList {
	
	float: left;
	overflow: hidden;
}


#board_nav {
	
	width: 15%;
	margin-right: 5%;
}


#board_nav li {
	
	padding: 5%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
	
}


#board_nav li a {
	
	display: block;
	padding: 5px 0;
	color: #808080;
	font-weight: 700;
	
}

#board_nav li a:hover {
	
	color: #6bb5db;
}


#board_nav li:first-child {
	
	padding: 30px 0;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	border-bottom: none;
}






#boardList {
	
	width: 80%;
	overflow: hidden;
}



.float_box {
	
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;
	letter-spacing: -1px;
	background: url(../images/bg_search02.png) no-repeat;
	background-position: 0px -30px;
	margin-right: 10px;
	height: 200px;
	box-sizing: border-box;
	padding: 3% 10%;
}

.float_box h2 {
	
	color: #153f91;
}


.doctor_search {
	
	color: black;
	margin: 10px 0;
}


#search_box {
	
	margin-top: 20px;
}


#search_box input {
	
	width: 200px;
	padding: 10px 10px;
	border: 2px solid #153f91;
}


#search_box input::placeholder {
	
	color: #808080;
}


#search_box button {
	
	padding: 10px 15px;
	background-color: #153f91;
	border: 2px solid #153f91;
	color: white;
	cursor: pointer;
	
}




.info_box {
	
	width: 100%;
	margin: 40px 0;
	overflow: hidden;
	padding: 2%;
	margin-bottom: 40px;
	letter-spacing: -1px;
}


.info_box h2 {
	
	color: #153F91;
	padding-bottom: 10px;
}



.info_box h2:before {
	
	content: "";
	display: block;
	width: 20px;
	height: 3px;
	margin-bottom: 9px;
	background-color: #153F91;
	
}



.info_box ul li {
	
	color: #808080;
	padding: 3px 0;
	padding-left: 10px;
	position: relative;
}


.info_box ul li:before {
	
	content: '';
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	width: 3px;
	height: 3px;
	background-color: #153F91;
	border-radius: 3px;
	margin-right: 5px;
}


