@charset "UTF-8";



#board {
	
	width: 1920px;
	overflow: hidden;
}



#board_title {
	
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
	border-bottom: 1px solid #ddd;
}


#title {
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
}

#sub_title {
	text-align: center;
	font-size: 1em;
	color: #808080;
	letter-spacing: -1px;
	margin-top: 5px;
}

#board_box {
	
	width: 60%;
	overflow: hidden;
	position: relative;
	margin: 80px auto;

}



#board_nav, #boardList {
	
	float: left;
	overflow: hidden;
}


#board_nav {
	
	width: 15%;
	margin-right: 5%;
}


#board_nav li {
	
	padding: 5%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
	
}


#board_nav li a {
	
	display: block;
	padding: 5px 0;
	color: #808080;
	font-weight: 700;
	
}

#board_nav li a:hover {
	
	color: #6bb5db;
}


#board_nav li:first-child {
	
	padding: 30px 0;
	background-color: #153F91;
	color: white;
	font-size: 1.2em;
	font-weight: 900;
	border-bottom: none;
}



#doctorList {
	width: 80%;
	text-align: center;
	float: left;
}

#office_select {
	width: 100%;
	overflow: hidden;
	text-align: left;
	margin-bottom: 40px;
}

#office_select h3 {
	font-weight: 700;
	font-size: 1.3em;
	letter-spacing: -1px;
	margin-bottom: 30px;
}

#office_select li {
	float: left;
	width: 20%;
	overflow: hidden;
	height: 220px;
	box-sizing: border-box;
	letter-spacing: -1px;
	font-size: 0.9em;
	padding: 15px 0;
	display: inline-block;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #808080;
}


#office_select li img {
	
	width: 60px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 15px;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
}



#office_select label {
	
	cursor: pointer;
}



#office_select li input {
	
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 35px;
	
}


#last_li {
	border-right: 1px solid #ddd;
}



.change_box {
	
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;	
}


.select_info {
	
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}



.info {
	
	width: 21%;
	background-color: #153f91;
	border: none;
	border-radius: 50%;
	color: white;
	float: left;
	font-size: 0.9em;
	padding: 5.5% 4%;
	margin: 0 auto;
	letter-spacing: -1px;
	margin-right: 25px;
	font-weight: 700;
}


.info p {
	
	margin-top: 10px;
}


.info img {
	
	width: 75px;
}



.info_contents {
	
	width: 100%;
	font-size: 0.9em;
	letter-spacing: -1px;
	color: #808080;
	padding: 25px 0;
	overflow: hidden;
}


.info_box {
	
	text-align: left;
	margin: 30px 0;
	letter-spacing: -1px; 
}


.info_box ul {
	
	border-bottom: 1px solid #ddd;
	margin: 10px 0 30px 0;
	padding-bottom: 50px;
	width: 100%;
	overflow: hidden;
	
}

.info_box ul li {
	
	float: left;
	width: 50%;
	margin-top: 6px;
	font-weight: 400;
	color: #808080;
	box-sizing: border-box;	
	
}



.info_box li:before {
	
	content: '';
	width: 2px;
	height: 2px;
	background-color: #999;
	margin-right: 10px;
	vertical-align: middle;
	display: inline-block;
	
}


#reserve_btn {
	
	width: 100%;
	margin: 0 auto;
	text-align: center;
}



#reserve_btn button {
	
	width: 200px;
	background-color: #153f91;
	color: white;
	border: none;
	padding: 2%;
	letter-spacing: -1px;
	cursor: pointer;
	font-size: 1.1em;
}
