<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="NewsImagesMapper">
  
  	<insert id="setWrite" parameterType="NewsImagesVO">
  		<selectKey keyProperty="fnum" order="BEFORE" resultType="java.lang.Integer" >
  			select news_seq.nextval  from dual
  		</selectKey>
  		insert into newsimages values(#{fnum},#{num},#{fname},#{oname})
  	</insert>
  	
  	<update id="setUpdate" parameterType="NewsImagesVO">
  		update newsimages set fname=#{fname}, oname=#{oname} where fnum=#{fnum}
  	</update>
  	
  	<select id="getSelect" parameterType="Integer" resultType="NewsImagesVO">
  		select * from newsimages where fnum=#{fnum}
  	</select>
  	
  	<delete id="setDelete" parameterType="Integer">
  		delete newsimages where fnum=#{fnum}
  	</delete>
  
  </mapper>