<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="TreatBreakDownMapper">
  <insert id="setWrite" parameterType="TreatBreakDownVO">
  	insert into treatbreakdown values(treatbreakdown_seq.nextval, #{id},#{num},#{pnum},#{status},#{paystatus},null,#{contents},to_date(#{reserve_date},'YYYY-MM-DD HH:MI'),sysdate)
  </insert>
  
  <!--진료 갯수  -->
  <select id="getOneTotalCount" parameterType="TreatBreakDownVO" resultType="Integer">
  	select count(num) from treatbreakdown where id=#{id}
  </select>
  
  <select id="getOneList" parameterType="PageMaker" resultType="TreatBreakDownVO">
  	select * from
  	(select rownum R,Tr.* from
  	(select T.*, M.name from treatbreakdown T
  	FULL JOIN member M on (T.id = M.id)
  	where T.id=#{kind} order by T.num desc) Tr)
  	where R between #{startRow} and #{lastRow}
  </select>
	
	<update id="setUpdate" parameterType="TreatBreakDownVO">
		update treatbreakdown set status=#{status} where num=#{num}
	</update>

  </mapper>